.main-wrapper
	include ../var/sidebar.pug

	.wrapper
		.wrapper-box
			.cabinet-header
				.cabinet-img-box
					img(src="", alt="").cabinet-img
					.userphoto-change
						input(type="file" accept="image/*").userphoto-change-input 
				.cabinet-info
					.cabinet-name Arthur Designer
					.cabinet-email asorsorian@gmail.com
					a(href="").cabinet-change-pass Сменить пароль
			
			.cabinet-tab
				a(href="").cabinet-tab-elem.active Избранные
				a(href="").cabinet-tab-elem Запрошенные
				a(href="").cabinet-tab-elem Скачанные
			
			.media
				a(href="").media-elem
					.media-img-box
						.media-info.hd HD
						.media-info.time 02:57
						.media-cross
						img(src="style/img/preview/preview-1.jpg", alt="").media-img
					.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
				a(href="").media-elem
					.media-img-box
						.media-info.hd HD
						.media-info.time 02:57
						.media-cross
						img(src="style/img/preview/preview-2.jpg", alt="").media-img
					.media-name AniDub Bleach Блич - 268 серия 
				a(href="").media-elem
					.media-img-box
						.media-info.hd HD
						.media-info.time 02:57
						.media-cross
						img(src="style/img/preview/preview-3.jpg", alt="").media-img
					.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
				a(href="").media-elem
					.media-img-box
						.media-info.hd HD
						.media-info.time 02:57
						.media-cross
						img(src="style/img/preview/preview-4.jpg", alt="").media-img
					.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
				a(href="").media-elem
					.media-img-box
						.media-info.hd HD
						.media-info.time 02:57
						.media-cross
						img(src="style/img/preview/preview-5.jpg", alt="").media-img
					.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
				a(href="").media-elem
					.media-img-box
						.media-info.hd HD
						.media-info.time 02:57
						.media-cross
						img(src="style/img/preview/preview-6.jpg", alt="").media-img
					.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
			
		include ../var/footer.pug