.main-wrapper
	include ../var/sidebar.pug

	.wrapper
		.wrapper-box
			.breadcrumbs
				a(href="").breadcrumbs-elem Главная 
				a(href="").breadcrumbs-elem Животные

			.wrapper-row
				.wrapper-heading.two-tab
					span Животные
					.tab
						a(href="").tab-elem Новые
						a(href="").tab-elem.active Популярные
				
				.media
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-1.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-2.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия 
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-3.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-4.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-5.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-6.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-1.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-2.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия 
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-3.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-4.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-5.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
					a(href="").media-elem
						.media-img-box
							.media-info.hd HD
							.media-info.time 02:57
							img(src="style/img/preview/preview-6.jpg", alt="").media-img
						.media-name AniDub Bleach Блич - 268 серия (Озвучка от Ancord)
						
				.show-more
					a(href="").show-more-btn
						.show-more-text Показать больше
						svg(width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg").show-more-arrow
							path(d="M1.6001 1L6.74433 5L11.6001 1" stroke="#2092C2" stroke-width="2" stroke-miterlimit="10")
					
		include ../var/footer.pug