.main-wrapper
	include ../var/sidebar.pug

	.wrapper
		.wrapper-box
			.breadcrumbs
				a(href="").breadcrumbs-elem Главная 
				a(href="").breadcrumbs-elem Информация для правообладателей
			
			.wrapper-row
				.wrapper-heading
					span Информация для правообладателей
			
				.wrapper-text
					p 
						| Ресурс Vidmo.org является общедоступным для всех 
						| зарегистрированных и незарегистрированных пользователей. 
						| Администрация ресурса не осуществляет контроль и не может 
						| отвечать за размещаемую на портале Vidmo.org информацию. 
						| Вместе с тем, Администрация ресурса резко отрицательно 
						| относится к нарушению авторских прав на территории Vidmo.org. 
						| Поэтому, если Вы являетесь правообладателем исключительных 
						| имущественных прав, включая:

					ul
						li Исключительное право на воспроизведение
						li Исключительное право на распространение
						li Исключительное право на публичный показ
						li Исключительное право на доведение до всеобщего сведения
					
					p
						| Ваши права тем или иным образом нарушаются с использованием 
						| данного ресурса, мы просим незамедлительно сообщать в службу 
						| рассмотрения жалоб письмом(в электронном виде) на адрес 
						a(href="mailto:abuse.vidmo@gmail.com") abuse.vidmo@gmail.com 
						| с корректно и максимально полно заполненными данными. Ваше 
						| сообщение в обязательном порядке будет рассмотрено; Вам 
						| поступит сообщение о результатах проведенных действий, 
						| относительно предполагаемого нарушения исключительных прав. 
						| Жалоба будет рассмотрена в срок, не превышающий 5(пяти)рабочих 
						| дней. Согласно действующим нормам законодательства РФ 
						| администрация готова рассмотреть спорные вопросы в рамках 
						| досудебного(претензионного или иного) порядка урегулирования.
					
					p
						strong ВНИМАНИЕ! 
						| Мы не осуществляем контроль над добавлением видео в каталог, 
						| Мы являемся поисковой машиной, которая ищет видео файлы по 
						| всему интернету. Однако мы в любом случае рассмотрим все Ваши 
						| корректно сформулированные запросы относительно ссылок на 
						| информацию, нарушающую Ваши права.
					
					.wrapper-text-title В письме вам необходимо предоставить следующие даннные:
					.wrapper-text-list-elem 1. Данные о продукте:
					.wrapper-text-sublist
						.wrapper-text-sublist-elem 
							| 1.1. Название продукта - русское и английское(в случае наличия английской
							|  версии).
						.wrapper-text-sublist-elem 
							| 1.2. Официальная страница продукта в Интернете(в случае наличия).
						.wrapper-text-sublist-elem
							| 1.3. Номер, присвоенный продукту по государственному реестру.
						.wrapper-text-sublist-elem
							| 1.4. Для Юридического Лица / Правообладателя электронных изданий/программ
							|  для ЭВМ/баз данных - Копия документа о государственной регистрации.

					.wrapper-text-title 
						| Для Юридического Лица / Правообладателя кино- и видеоматериалов - 
						| Прокатное удостоверение(копия).
					.wrapper-text-list-elem 2. Данные о правообладателе:
					.wrapper-text-sublist
						.wrapper-text-sublist-elem 
							| 2.1. Полное наименование юридического лица.
						.wrapper-text-sublist-elem 
							| 2.2. Почтовый адрес.(в случае несовпадения юридического и почтового 
							| адреса - обязательное указание юридического адреса).
						.wrapper-text-sublist-elem 
							| 2.3. Сайт правообладателя в сети Интернет.
						.wrapper-text-sublist-elem 
							| 2.4. Лицензия на право деятельности(если таковая деятельность 
							| лицензируется в установленном законом порядке).
						.wrapper-text-sublist-elem 
							| 2.5. Контактное лицо правообладателя(ФИО, должность, телефон, email).
						
					.wrapper-text-list-elem 3. Данные лица, подающего жалобу.
					.wrapper-text-sublist
						.wrapper-text-sublist-elem 
							| 3.1. ФИО.
						.wrapper-text-sublist-elem 
							| 3.2. Должность.
						.wrapper-text-sublist-elem 
							| 3.3. Телефон.
						.wrapper-text-sublist-elem 
							| 3.4. email.
						.wrapper-text-sublist-elem 
							| 3.5. Копия доверенности на действия от лица 
							| Правообладателя(не требуется в случае если лицо подающее жалобу - 
							| руководитель компании Правообладателя). Если жалобу подает не 
							| правообладатель, а его уполномоченный доверенностью представитель 
							| - юридическое лицо, следует предоставить копию доверенности на 
							| действия физического лица от лица компании, уполномоченной 
							| доверенностью Правообладателя(не требуется в случае, если 
							| лицо подающее жалобу - руководитель компании представителя).

					.wrapper-text-list-elem 4. Претензионные данные.
					.wrapper-text-sublist
						.wrapper-text-sublist-elem
							| 4.1. Адрес страницы сайта, которые содержат ссылки на данные, 
							| нарушающие права.
						.wrapper-text-sublist-elem
							| 4.2. Полное описание сути нарушения прав(почему распространение 
							| данной информации запрещено Правообладателем).
			
		include ../var/footer.pug