.main-wrapper
	include ../var/sidebar.pug

	.wrapper
		.wrapper-box
			.breadcrumbs
				a(href="").breadcrumbs-elem Главная 
				a(href="").breadcrumbs-elem Последние обсуждения

			.wrapper-row
				.wrapper-heading
					span Последние обсуждения

				.comment-section
					.comment-elem
						.comment-img-box
							img(src="", alt="")
						.comment-info
							.comment-title
								.comment-name muxammsd m.
								.comment-date 6 июн 2020
							.comment-text
								| Фильм отличный но эти рекламы на нервы действует
							.comment-video-name
								| [Brazzers] Tiffany Watson - Facial By Surprise NewPorn2020
					.comment-elem
						.comment-img-box
							img(src="style/img/comment-ph.jpg", alt="")
						.comment-info
							.comment-title
								.comment-name Алексей С.
								.comment-date 3 ноя 2019
							.comment-text
								| не было бы рекламы за фильмы пришлось бы платить
							.comment-video-name
								| [Brazzers] Tiffany Watson - Facial By Surprise NewPorn2020
					.comment-elem
						.comment-img-box
							img(src="", alt="")
						.comment-info
							.comment-title
								.comment-name Виктор Арсеев
								.comment-date 25 ноя 2019
							.comment-text
								|  Есть немало ресурсов, где и фильмы в хорошем 
								| качестве, и реклама только в начале. Совсем 
								| без рекламы и бесплатно - это торрент.
							.comment-video-name
								| [Brazzers] Tiffany Watson - Facial By Surprise NewPorn2020
					.comment-elem
						.comment-img-box
							img(src="", alt="")
						.comment-info
							.comment-title
								.comment-name muxammsd m.
								.comment-date 6 июн 2020
							.comment-text
								| Фильм отличный но эти рекламы на нервы действует
							.comment-video-name
								| [Brazzers] Tiffany Watson - Facial By Surprise NewPorn2020
					.comment-elem
						.comment-img-box
							img(src="style/img/comment-ph.jpg", alt="")
						.comment-info
							.comment-title
								.comment-name Алексей С.
								.comment-date 3 ноя 2019
							.comment-text
								| не было бы рекламы за фильмы пришлось бы платить
							.comment-video-name
								| [Brazzers] Tiffany Watson - Facial By Surprise NewPorn2020
					.comment-elem
						.comment-img-box
							img(src="", alt="")
						.comment-info
							.comment-title
								.comment-name Виктор Арсеев
								.comment-date 25 ноя 2019
							.comment-text
								|  Есть немало ресурсов, где и фильмы в хорошем 
								| качестве, и реклама только в начале. Совсем 
								| без рекламы и бесплатно - это торрент.
							.comment-video-name
								| [Brazzers] Tiffany Watson - Facial By Surprise NewPorn2020
				
				.pagination
							a(href="").pagination-elem.pagination-nav.disabled
								svg(width="8" height="17" viewBox="0 0 8 17" fill="none" xmlns="http://www.w3.org/2000/svg").pagination-nav-icon
									path(d="M7 1L1 8.71635L7 16" stroke="#22576C" stroke-width="1.5" stroke-miterlimit="10")
							a(href="").pagination-elem 1
							a(href="").pagination-elem.active 2
							a(href="").pagination-elem 3
							a(href="").pagination-elem 4
							a(href="").pagination-elem 5
							a(href="").pagination-elem ... 
							a(href="").pagination-elem 15
							a(href="").pagination-elem.pagination-nav
								svg(width="8" height="17" viewBox="0 0 8 17" fill="none" xmlns="http://www.w3.org/2000/svg").pagination-nav-icon
									path(d="M1 16L7 8.28365L1 1" stroke="#22576C" stroke-width="1.5" stroke-miterlimit="10")
									
		include ../var/footer.pug