.sidebar
	&-bg
		display: none
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(0, 0, 0, .5)
		z-index: 15

	&-elem
		margin:
			bottom: 10px
		padding: 15px 22px
			bottom: 24px
		min-width: 200px
		max-width: 200px
		background-color: $bg-color-light	
		border-radius: 5px

		&:last-child
			margin: 0

		&.sidebar-genres
			.sidebar-link
				+align-items(center)
	
	&-btn
		display: none
		
	&-title
		margin: 
			left: 8px
			bottom: 11px
		font-size: 15px
		font-weight: 700
		line-height: 35px

	&-link
		+flex
		margin:
			bottom: 13px
		font-size: 14px
		font-weight: 600
		line-height: 22px
		color: $accent-color_1
		+prefix(transition, $default-transition)

		&:last-child 
			margin: 0

		&:not(.active):hover
			opacity: $default-opacity

		&.active
			color: $accent-color_2

			.sidebar-icon
				path
					fill: $accent-color_2

	&-icon
		margin:
			right: 12px
		width: 18px

		path
			+prefix(transition, $default-transition)
	

	