footer.footer
	.footer-elem vidmo.org 2012-2020
	a(href="").footer-elem.footer-link Пользовательское соглашение
	a(href="").footer-elem.footer-link Для правообладателей
	a(href="mailto:abuse.vidmo@gmail.com").footer-elem.footer-mail abuse.vidmo@gmail.com