head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	title Vidmo
	meta(name="description" content="Vidmo")
	meta(name="keywords" content="test, test1, test2")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href="./style/css/jquery-ui.min.css")
	link(rel="stylesheet" href="./style/css/jquery.mCustomScrollbar.min.css")
	link(rel="stylesheet" href="./style/css/main.css")

	// Chrome, Firefox OS and Opera
	meta(name="theme-color" content="#F6CB52")
	// Windows Phone
	meta(name="msapplication-navbutton-color" content="#F6CB52")
	// iOS Safari 
	meta(name="apple-mobile-web-app-status-bar-style" content="#F6CB52")

	