script(src="./style/js/plugin/jquery-3.4.1.min.js")
script(src="./style/js/plugin/jquery-ui.min.js")
script(src="./style/js/plugin/jquery.ui.touch-punch.min.js")
script(src="./style/js/plugin/jquery.mask.min.js")
script(src="./style/js/plugin/jquery.mCustomScrollbar.concat.min.js")
script(src="./style/js/plugin/jquery.validate.min.js")

script(src="./style/js/main.js")
