header.top-line
	.top-line-wrap
		.top-line-elem.top-line-logo-wrap
			a(href="/").top-line-logo
				img(src="style/img/icon/logo.svg", alt="Logo Musmore").top-line-logo-img
		.top-line-elem.top-line-search
			form(action="").top-line-form
				input(type="text" placeholder="Поиск видео").top-line-input
				button.top-line-form-btn Найти
		.top-line-elem.top-line-buttons
			.top-line-language
				.top-line-language-value.top-line-btn
					img(src="style/img/icon/globe-icon.svg", alt="").top-line-btn-img
					span.top-line-btn-text.top-line-language-text Русский
				.top-line-language-dropdown
					.top-line-language-dropdown-wrap
						a(href="").top-line-language-link Русский 
						a(href="").top-line-language-link English
			a(href="").top-line-login.top-line-btn
				img(src="style/img/icon/login-icon.svg", alt="").top-line-btn-img
				span.top-line-btn-text Войти
			.top-line-account
				img(src="", alt="")
				.top-line-account-dropdown-wrap
					.top-line-account-dropdown
						a(href="").top-line-account-dropdown-link Профиль
						a(href="").top-line-account-dropdown-link Войти
			.top-line-menu-btn
				span